
<div class="container-fluid px-0" id="navcontainer">
    <nav class="navbar navbar-expand-md navbar-dark bg-black px-0"> 
      <p class="navbar-brand mr-5" href="#" > 
        <span class="fas fa-home" style="cursor:pointer;" data-reload="true" id="home"></span> MaSpeQC</p>  
        <button style="margin-left:5px;" class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
          <span class="navbar-toggler-icon"></span> 
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a id="prccessNav" class="nav-link menu" href="#" data-process="true" data-tooltip="Run quality control processing"><span class="fas fa-flask"></span> Process</a> </li>
              <li class="nav-item"> 
                <a class="nav-link menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-angle-down"></span> Instruments</a> 
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbar-machines"> 
                   
                </div> 
              </li>
              <li class="nav-item"> <a class="nav-link menu" href="#" data-user="main" data-tooltip="View the User Guides"><span class="fas fa-info"></span> User Guides</a> </li>
              <li class="nav-item"> <a class="nav-link menu" href="#" data-config="true" data-tooltip="Set Configuration Information"><span class="fas fa-wrench"></span> Configuration</a> </li>
            </ul>
        </div>
    </nav>
  </div>
  
  
  
  
  
  