<div class="container-fluid px-0" id="navcontainer">
    <nav class="navbar navbar-expand-md navbar-dark bg-black px-0"> 
      <p class="navbar-brand mr-5" href="#" > 
        MaSpeQC</p>  
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a id="userLink" class="nav-link menu" href="#" data-user="config" data-tooltip="View the User Guides"><span class="fas fa-info"></span> User Guides</a> </li>
              <li class="nav-item"> <a id="backLink" class="nav-link menu" data-user-config="true" href="#" data-tooltip="Set Configuration Information"><span class="fas fa-wrench"></span> Configuration</a> </li>
            </ul>
        </div>
    </nav>
  </div>