<head>
    <title>MaSpeQC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/f77ac44772.js" crossorigin="anonymous"></script> <!--Font Awesome icons-->
    <script src="./javascripts/control.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v6.js"></script> <!--D3-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css"  />
    <script type="text/javascript">

        // get all machine names from storage for nav bar
        var proteomics = JSON.parse(sessionStorage.getItem("proteomics-machines"));
        var metabolomics = JSON.parse(sessionStorage.getItem("metabolomics-machines"));
        

        // get caller from controller (main or config)
        let caller = <%-JSON.stringify(type)%>;
        let os_type = <%-JSON.stringify(op_system)%>;

        // DOM loaded callback
		document.addEventListener('DOMContentLoaded', function() {
            if(caller == "main"){
                create_navbar_dropdown();
            } 
            
            if(caller == "process"){
                //change icon and link
                var link = document.getElementById("backLink");
                link.setAttribute("data-user-config", "false");
                link.setAttribute("data-tooltip", "Click to return to processing");
                link.innerHTML = "<span class='fas fa-flask'></span> Process";

                var user_link = document.getElementById("userLink");
                user_link.setAttribute("data-user", "process");
            }

            // remove processing for linux
            if(os_type !== "win32"){
                document.getElementById("processItem").style.display = "none";
            }

        });

    </script>

</head>