<!DOCTYPE html>
<html lang="en">
    
<%- include ('partials/head') %>

<body>
    
    <%- include ('partials/navbar-head') %>
    
    <div class="container-fluid" id="grid">
        
    </div>

</body>

</html>