<!--
 MaSpeQC - Quality control software for LC-MS/MS instrumentation

 Copyright (C) 2018-2025  Simon Caven
 Copyright (C) 2020-2025  Monash University
 Copyright (C) 2022-2025  University of Applied Sciences Mittweida

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published
 by the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">

<%- include ('partials/info-head') %>

<body>
    <% if (type == 'config' || type == 'process') { %>
        <%- include ('partials/navbar-user') %>
      <% } %>

    <% if (type == 'main') { %>
        <%- include ('partials/navbar-head') %>
      <% } %>


        <div class="container-fluid">

          <div class="row justify-content-center" style="height:100vh">
            <div class="col-sm-2 side-bar-info"></div>
            <div class="col-sm-8 text-center">
              <pre class="info">


              <strong>MaSpeQC - Quality control software for LC-MS/MS instrumentation</strong>

              Copyright (C) 2018-2025  Simon Caven
              Copyright (C) 2020-2025  Monash University
              Copyright (C) 2022-2025  University of Applied Sciences Mittweida

              This program is free software: you can redistribute it and/or modify
              it under the terms of the GNU Affero General Public License as published
              by the Free Software Foundation, either version 3 of the License, or
              (at your option) any later version.

              This program is distributed in the hope that it will be useful,
              but WITHOUT ANY WARRANTY; without even the implied warranty of
              MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
              GNU Affero General Public License for more details.

            </pre>

            <p class="info">
              <strong>MaSpeQC: An easy-to-use Interactive Pipeline to Assess the Performance of LC-MS/MS Instrumentation</strong>
            </p>
            <p class="info">
              Simon J. Caven, Christopher K. Barlow, Robert J. A. Goode, Scott A. Blundell, Hossein Valipour Kahrood, Haijian Zhang, Anup D. Shah, Bosco K. Ho, Michael Wybrow, Tobias Czauderna, and Ralf B. Schittenhelm
            </p>
              <i>Journal of Proteome Research Article ASAP</i>
              DOI:<a href="https://pubs.acs.org/doi/10.1021/acs.jproteome.5c00869" target="_blank">10.1021/acs.jproteome.5c00869</a> 
            
          </br>
          </br>
            <a href="https://github.com/MonashProteomics/MaSpeQC?tab=AGPL-3.0-1-ov-file" target="_blank">View the MaSpeQC License</a><br><br>
            <a href="https://github.com/MonashProteomics/MaSpeQC#software-licenses" target="_blank">View the MaSpeQC Software Licenses</a><br><br>
            <a href="https://github.com/thermofisherlsms/RawFileReader/?tab=readme-ov-file" target="_blank" id="thermo-link">View the RawFileReader License</a><br>
          </div>
          <div class="col-sm-2 side-bar-info"></div>
        </div>
          
          
        </div>
        

</body>

</html>