<!DOCTYPE html>
<html lang="en">

<%- include ('partials/nodata-head') %>
    
<body>
    
    <%- include ('partials/navbar-head') %>
    
    <div class="container-fluid" id="grid">
        </br>
        </br>
        </br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 class="text-center" style="background-color: var(--danger);color:white;">Not enough data to display.</h2>
                <h5 class="text-center" style="background-color: var(--primary);color:white;">Process more quality control samples and load MaSpeQC again.</h5>
            </div>
            <div class="col-lg-2"></div>
        </div>
        
        
        
    </div>

</body>

</html>